*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    min-height: 100vh;
}
/* div{
    height: 200px;
    width: 200px;
    background: #fff;
    transition: height 0.5s, width 0.5s;
    margin: 5px;
}
div:hover{
    height: 220px;
    width: 220px;
} */

.input-group{
    position: relative;
    font-size: 25px;
}

.input{
    outline: none;
    padding: 5px;
    height: 40px;
    width: 100%;
    border: 1.2px #000 solid;
    border-radius: 5px ;
    /* position: relative; */
}

.label{
    color: gray;
    top: 0.7rem;
    left: 1rem;
    transition: 250ms;
    position: absolute;
    font-size: 30px;
    padding: 0px 10px;
}

.input:focus{
    border: 1.2px #600ee4 solid;
}

.input:is(:focus) ~ .label{
    transform: translateY(-110%) scale(0.8);
    background-color: white;
    font-size: 20px;
    color: #600ee4;
    padding-inline: 10px;
    /* padding: 10px; */
}

.submit-btn{
    width:100%;
    padding: 10px;
    background-color:#600ee4;
    color: white;
    margin: 10px ;
    border: #fff solid 2px;
    border-radius: 5px;
}
